/*  =========================================================
Datei: downloads.css
Datum: 2014-10-03
Autor: Wille.G (H0walD)
Copyright: by www.howald-design.ch
========================================================== */ 
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,400italic,400,500italic,500,700italic,700);
@import url(/include/includes/css/downloads/font-awesome.css);


.hdbgaussen{
	float:left;
	width:230px;
	height:auto;
	padding:7px;
	margin:0;
}

.hdbginnen{
	float:left;
	border:1px solid #272727;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #CCC;
	background-image: url("/include/images/downloads/pattern.png");
  	background-repeat: repeat-x, repeat-y; 
	position: absolute
	margin:0;
	height:auto;
	padding:1px;
}

.hdbgtitelplatz{
	float: left;
	width: 230px;
	height: 30px;
	margin: 0;
	background-color: rgba(102, 102, 102, 0.7);
	background: rgba(102, 102, 102, 0.7);
	color: rgba(102, 102, 102, 0.7);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 21px #000000;
	-webkit-box-shadow:inset 0px 1px 21px #000000;
	box-shadow:inset 0px 1px 21px #000000;
}

.hdbgplatzh{
	float: left;
	width: 230px;
	height: 20px;
	margin: 0;
}
.hdbgtitel{
	text-align: left;
	font: 16px Ubuntu;
	font-weight:bold;
	text-indent: 0px;
	line-height: 30px;
	color: rgba(255,255,255,1.0);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
.hdbgtitel:hover{
	font: 18px Ubuntu;
	font-weight:bold;
	text-indent: 0px;
	line-height: 25px;
	color: rgba(255,255,255,1.0);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.hdbgimginnen{
	border:1px solid #272727;
	margin:6px 0 6px 0;
	-moz-box-shadow: 3px 4px 4px rgba(0,0,0,0.65);
	-webkit-box-shadow: 3px 4px 4px rgba(0,0,0,0.65);
	box-shadow: 3px 4px 4px rgba(0,0,0,0.65);
}
		
.hdbgdown{
	cursor:url("/include/images/downloads/smil.png"),auto;
	line-height: 30px;
	color: rgba(201,201,201,1.0);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
	font: 18px Ubuntu;
	height: 30px;
	background-color: rgba(102, 102, 102, 0.7);
	background: rgba(102, 102, 102, 0.7);
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 21px #000000;
	-webkit-box-shadow:inset 0px 1px 21px #000000;
	box-shadow:inset 0px 1px 21px #000000;
}

.hdbgbutton {
	cursor:url("/include/images/downloads/smil.png"),auto;
	margin:4px auto 4px auto;
	-moz-box-shadow:inset 0px 1px 0px 0px #e6e3e6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e6e3e6;
	box-shadow:inset 0px 1px 0px 0px #e6e3e6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cfcfcf), color-stop(1, #8f8f8f) );
	background:-moz-linear-gradient( center top, #cfcfcf 5%, #8f8f8f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#8f8f8f');
	background-color:#cfcfcf;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:-20px;
	border:1px solid #272727;
	display:inline-block;
	color: rgba(255,255,255,1.0);
	font: 18px Ubuntu;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:50px;
	text-decoration:none;
	text-align:center;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.hdbgcopy{
	text-align: right;
	font: 14px Ubuntu;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 2px 2px rgba(255,255,255,1.0);
}

.hdbglink{
	text-align: right;
	font: 16px Ubuntu;
	font-weight: bold;
	color: rgba(0,0,0,1.0);
	text-shadow: 2px 2px 2px rgba(255,255,255,1.0);
}
.hdbglink:hover{
	text-align: right;
	font: 16px Ubuntu;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 2px 2px rgba(255,255,255,1.0);
}

a.hdbgtooltip {outline:none; }
a.hdbgtooltip strong {line-height:30px;}
a.hdbgtooltip:hover {text-decoration:none;} 
a.hdbgtooltip span {
    z-index:10;display:none; padding:4px 4px;
    margin-top:60px; margin-left:-180px;
    width:300px; line-height:16px;
}

a.hdbgtooltip:hover span{
    display:inline; position:absolute; 
    border:3px solid #272727; 
	color:#FFF;
	background-image: url("/include/images/downloads/pattern.png");
  	background-repeat: repeat-x, repeat-y; 
    background-color: #CCC;
}
.callout {
	z-index:20;
	position:absolute;
	border:0;
	top:-14px;
	left:120px;
	}
    
a.hdbgtooltip span{
	border-radius:2px;        
    -moz-box-shadow:inset 1px 0px 16px #000000;
	-webkit-box-shadow:inset 1px 0px 16px #000000;
	box-shadow:inset 1px 0px 16px #000000;
}

.hdbgpic{
	background-color: #CCC;
	background-image: url("/include/images/downloads/pattern.png");
  	background-repeat: repeat-x, repeat-y; 
	border:1px solid #272727;
	margin:0;
	height:auto;
	padding:1px;
	-moz-box-shadow:inset 1px 0px 16px #000000;
	-webkit-box-shadow:inset 1px 0px 16px #000000;
	box-shadow:inset 1px 0px 16px #000000;
}

.hdbgfont{
	text-align: left;
	line-height:17px !important;
	padding-left: 10px;
	font: 12px Ubuntu;
	font-weight: bold;
	color: rgba(0,0,0,1.0);
	text-shadow: 2px 2px 2px rgba(255,255,255,1.0);
}
.hdbgtitel1{
	text-align: left;
	padding-left: 10px;
	font: 16px Ubuntu;
	font-weight:bold;
	text-indent: 0px;
	line-height: 30px;
	color: rgba(0,0,0,1.0);
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}
.hdbgtitel1:hover{
	font: 16px Ubuntu;
	padding-left: 10px;
	font-weight:bold;
	text-indent: 0px;
	line-height: 30px;
	color: rgba(0,0,0,0.75);
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}

.hdbgposi{
	margin: 0 auto;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
}
.table{
	width:90% !important;
}

.hdbgdark {
	border:1px solid #272727;
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	font: 18px Ubuntu;
	font-weight: bold;
	text-indent: 10px;
	color: rgba(0,0,0,1.0);
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:inset 1px 0px 16px #000000;
	-webkit-box-shadow:inset 1px 0px 16px #000000;
	box-shadow:inset 1px 0px 16px #000000;
	height:30px;
	line-height:30px !important; 
	 } 
	 
.hdbgmite {
	text-indent:10px;
	text-align:left;
	height:55px; 
	background-image: -webkit-linear-gradient(top, #FFFFFF, #cccccc);
	background-image: -moz-linear-gradient(top, #FFFFFF, #cccccc);
    background-image: -o-linear-gradient(top, #FFFFFF, #cccccc);
	background-image: -ms-linear-gradient(top, #FFFFFF, #cccccc);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#cccccc'); } 

.hdbgdarkmite {
	font: 14px Ubuntu;
	color: #000000;
	border:1px solid #272727;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #cccccc);
	background-image: -moz-linear-gradient(top, #FFFFFF, #cccccc);
    background-image: -o-linear-gradient(top, #FFFFFF, #cccccc);
	background-image: -ms-linear-gradient(top, #FFFFFF, #cccccc);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#cccccc');
	text-align:left;
	padding: 15px;
	}
	
	/*  =========================================================
Datei: Bootstrap Buttons.css
Datum: 2014-10-07
Autor: Wille.G (H0walD)
Copyright: by www.howald-design.ch
========================================================== */ 
.btn{display:inline-block;*display:inline;*zoom:1;padding:6px 13px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);font: 16px Ubuntu;}.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn-large:hover,.btn:focus{font: 16px Ubuntu !important;}
.btn:hover,.btn:focus{font: 16px Ubuntu !important;}
.btn:hover,.btn:focus{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:6px 13px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;font: 16px Ubuntu;}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px;}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0;}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px;}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-block+.btn-block{margin-top:5px;}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%;}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top, #0088cc, #0044cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);background-image:-o-linear-gradient(top, #0088cc, #0044cc);background-image:linear-gradient(to bottom, #0088cc, #0044cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color:#0044cc #0044cc #002a80;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#ffffff;background-color:#0044cc;*background-color:#003bb3;}
.btn-primary:active,.btn-primary.active{background-color:#003399 \9;}
.btn-warning{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(to bottom, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#ffffff;background-color:#f89406;*background-color:#df8505;}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9;}
.btn-danger{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#ffffff;background-color:#bd362f;*background-color:#a9302a;}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9;}
.btn-success{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#5bb75b;background-image:-moz-linear-gradient(top, #62c462, #51a351);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));background-image:-webkit-linear-gradient(top, #62c462, #51a351);background-image:-o-linear-gradient(top, #62c462, #51a351);background-image:linear-gradient(to bottom, #62c462, #51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#ffffff;background-color:#51a351;*background-color:#499249;}
.btn-success:active,.btn-success.active{background-color:#408140 \9;}
.btn-info{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#ffffff;background-color:#2f96b4;*background-color:#2a85a0;}
.btn-info:active,.btn-info.active{background-color:#24748c \9;}
.btn-inverse{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;background-image:-moz-linear-gradient(top, #444444, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));background-image:-webkit-linear-gradient(top, #444444, #222222);background-image:-o-linear-gradient(top, #444444, #222222);background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#222222;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#ffffff;background-color:#222222;*background-color:#151515;}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9;}
button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px;}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px;}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-link{border-color:transparent;cursor:pointer;color:#0088cc;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.btn-link:hover,.btn-link:focus{color:#005580;text-decoration:underline;background-color:transparent;}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{color:#333333;text-decoration:none;}
.btn-group{position:relative;display:inline-block;*display:inline;*zoom:1;font-size:0;vertical-align:middle;white-space:nowrap;*margin-left:.3em;}.btn-group:first-child{*margin-left:0;}
.btn-group+.btn-group{margin-left:5px;}
.btn-toolbar{font-size:0;margin-top:10px;margin-bottom:10px;}.btn-toolbar>.btn+.btn,.btn-toolbar>.btn-group+.btn,.btn-toolbar>.btn+.btn-group{margin-left:5px;}
.btn-group>.btn{position:relative;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.btn-group>.btn+.btn{margin-left:-1px;}
.btn-group>.btn,.btn-group>.dropdown-menu,.btn-group>.popover{font-size:14px;}
.btn-group>.btn-mini{font-size:10.5px;}
.btn-group>.btn-small{font-size:11.9px;}
.btn-group>.btn-large{font-size:17.5px;}
.btn-group>.btn:first-child{margin-left:0;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.btn-group>.btn:last-child,.btn-group>.dropdown-toggle{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.btn-group>.btn.large:first-child{margin-left:0;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.btn-group>.btn.large:last-child,.btn-group>.large.dropdown-toggle{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.btn-group>.btn:hover,.btn-group>.btn:focus,.btn-group>.btn:active,.btn-group>.btn.active{z-index:2;}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{outline:0;}
.btn-group>.btn+.dropdown-toggle{padding-left:8px;padding-right:8px;-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);*padding-top:5px;*padding-bottom:5px;}
.btn-group>.btn-mini+.dropdown-toggle{padding-left:5px;padding-right:5px;*padding-top:2px;*padding-bottom:2px;}
.btn-group>.btn-small+.dropdown-toggle{*padding-top:5px;*padding-bottom:4px;}
.btn-group>.btn-large+.dropdown-toggle{padding-left:12px;padding-right:12px;*padding-top:7px;*padding-bottom:7px;}
.btn-group.open .dropdown-toggle{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn-group.open .btn.dropdown-toggle{background-color:#e6e6e6;}
.btn-group.open .btn-primary.dropdown-toggle{background-color:#0044cc;}
.btn-group.open .btn-warning.dropdown-toggle{background-color:#f89406;}
.btn-group.open .btn-danger.dropdown-toggle{background-color:#bd362f;}
.btn-group.open .btn-success.dropdown-toggle{background-color:#51a351;}
.btn-group.open .btn-info.dropdown-toggle{background-color:#2f96b4;}
.btn-group.open .btn-inverse.dropdown-toggle{background-color:#222222;}
.btn .caret{margin-top:8px;margin-left:0;}
.btn-large .caret{margin-top:6px;}
.btn-large .caret{border-left-width:5px;border-right-width:5px;border-top-width:5px;}
.btn-mini .caret,.btn-small .caret{margin-top:8px;}

	
.border {
background-color: #585858;
border:1px solid #272727;
}

/*  =========================================================
Datei: screen.css
Datum: 2014-10-07
Autor: Wille.G (H0walD)
Copyright: by www.howald-design.ch
========================================================== */ 
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.hdbgbox {
    z-index: 200000!important;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0px!important;
    left: 0px!important;
	background: rgba(0,0,0,0.8);
}
	
.hdbgbox > div {
    margin-top: 2%!important;
    max-width: 1024px;
    max-height: 768px!important;
    margin: auto;
    padding: 6px;
    text-align: center;
	-moz-box-shadow: inset 0px 1px 21px #000000;
	-webkit-box-shadow: inset 0px 1px 21px #000000;
	box-shadow: inset 0px 1px 21px #000000;
  	border: 4px solid #272727;
	background-color:#272727;
  }

.hdbgbox > div > header, .hdbgbox > div > footer {
  color: #FFF;
  background-color: #000;
  height:auto;
}

.hdbgclosepos{
	float:right;
	margin:-9px -87px 0 0;
	font: 16px Ubuntu;
	font-weight: bold;
	text-indent: 0px;
	line-height: 25px;
	color: rgba(0,0,0,0.8);
  	text-decoration:none;
	-moz-border-radius:10px; /* Firefox */
	-webkit-border-radius:10px; /* Chrome, Safari */
	-khtml-border-radius:10px; /* Konqueror */
	border-radius:10px; /* CSS3 */
	behavior:url(border-radius.htc); /* Internet Explorer */
	width:80px;
	height:25px;
	background-color:rgba(255,255,255,0.4);
	border: 1px solid rgba(255,255,255,0.9);
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.9);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.9);
}
.hdbgclosepos:hover{
	font: 16px Ubuntu;
	font-weight: bold;
	background-color:rgba(255,255,255,0.9);
	color: rgba(0,0,0,1.0);
	text-indent: 0px;
	line-height: 25px;
}

.hdbgbox > div > footer {
	background-color:rgba(0,0,0,0.3);
	border: 2px solid rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0px 1px 21px #000000;
	-webkit-box-shadow: inset 0px 1px 21px #000000;
	box-shadow: inset 0px 1px 21px #000000;
}

.hdbgboxfont{
	text-align: center;
	font: 16px Ubuntu;
	font-weight: bold;
	text-indent: 0px;
	line-height: 30px;
	color: rgba(255,255,255,1.0);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  	text-decoration:none;
}

.hdbgimg-reposive {
  vertical-align: middle;
  max-width: 1024px;
  max-height: 735px;
}
