<link rel="stylesheet" href="include/includes/css/download-cate.css" />
<script type="text/javascript" src="include/includes/js/download.js"></script>
{EXPLODE}
<h1 class="downloads">Kategorien</h1>
<section id="kategorie">
    {EXPLODE}
    <a href="index.php?downloads-{id}">
        <header><h1>{name}</h1></header>
        <div id="contentd">
            <img src="{img}" />
            <div><b>{files}x</b> Downloads<br /><small>{desc}</small></div>
        </div>
    </a>
    {EXPLODE}
</section>
{EXPLODE}
<br style="clear: both;" />
<h1 class="downloads">Downloads</h1>
<section id="kategorie">
    {EXPLODE}
    <a href="index.php?downloads-show-{id}">
        <header><h1>{name} {version}</h1></header>
        <div id="contentd">
            <img src="{img}" />
            <div>{desc}</div>
        </div>
    </a>

    {EXPLODE}
</section>
<br style="clear: both;" />
{EXPLODE}
<br style="clear: both;" />
<form action="index.php?downloads-upload" method="POST" enctype="multipart/form-data" style="display: block; margin: 50px 40px 0 40px">
    <fieldset>
        <legend><b>{_lang_fileup}</b></legend>
        <label style="width:100px; float:left;">{_lang_name}</label><input type="text" name="name" maxlength="50" value="" /><br />
        <label style="width:100px; float:left;">{_lang_version}</label><input type="text" name="version" maxlength="10" size="11" value="" /><br />
        <label style="width:100px; float:left;">{_lang_author}</label><input type="text" name="autor" maxlength="50" value="" /><br />
        <label style="width:100px; float:left;">{_lang_linkor}</label><input type="text" name="url" size="40" maxlength="100" value="" /><br />
        <label style="width:100px; float:left;">{_lang_upload}</label><input type="file" name="file" size="28" /><br />
        <label style="width:100px; float:left;">{_lang_demolink}</label><input type="text" name="surl" size="40" maxlength="100" value="" /><br />
        <label style="width:100px; float:left;">{_lang_preview}</label><input type="text" name="ssurl" size="40" maxlength="100" value="" /><br />
        <label style="width:100px; float:left;">{_lang_shortdesc}</label><input type="text" name="desc" size="40" maxlength="100" value="" /><br />
        <label style="width:100px; float:left;">{_lang_desc}</label><textarea cols="40" rows="4" name="descl"></textarea><br />
        <label style="width:100px; float:left;"></label><input type="submit" value="Absenden" name="sub"><br />
    </fieldset>
</form>
