{EXPLODE}
<table width="100%" border="0" cellspacing="0" cellpadding="3">
{EXPLODE}
{footer1}
<td width="33%" align="left">
    <div class="hdbgaussen">
        <div class="hdbginnen">
            <div>
                    <div class="hdbgtitelplatz">
                        <div class="hdbgplatzh"><center><a class="hdbgtitel" href="index.php?downloads-{id}">{name}</a></center></div>
                    </div>
            </div>
            <br />
            <center>
                <div class="hdbgimg">
                    <a href="index.php?downloads-{id}"><img class="hdbgimginnen" src="{img}" border="0" width="220px" onError="this.src='/include/images/downcats/na.png'"></a>           
                </div>
                <div class="hdbgdown">Downloads: <span class="hdbgbutton">{files}</span></div>
            </center>
        </div>
    </div>
</td>        
{footer2}
{EXPLODE}
</table>
<br /><br />
<div class="hdbgcopy">Copyright &copy; 2014 Downloadansicht by <a href="http://www.howald-design.ch" class="hdbglink" target="_blank">H0walD-Design</a></div>
<link rel="stylesheet" type="text/css" href="/include/includes/css/downloads/downloads.css">
<br /><br />
{EXPLODE}
<table width="100%" border="0" cellspacing="1" cellpadding="3">
{EXPLODE}
{footer3}
<td width="33%" align="center" style="border:1px solid #272727;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>        
            <td width="70" height="60" align="center" class="hdbgpic" >
                <a href="index.php?downloads-show-{id}" class="hdbgtooltip" >{surl}
                    <span width="300px">
                        <img src="{temp_surl}" width="300" onError="this.src='/include/images/downcats/na.png'" />
                    </span>
                </a>
            </td>
            <td height="60" class="Cnorm"><div class="hdbgname"><a class="hdbgtitel1" href="index.php?downloads-show-{id}">{name}</a></div>
                <span class="hdbgfont">Download wurde am <b><span style="color: #f00;">{datum}</span></b> hingef&uuml;gt.</span><br />
                <span class="hdbgfont">Diese Datei wurde bereits <b><span style="color: #f00;">{downs}</span></b> mal heruntergeladen.</span><br /><br />
                
                <div class="hdbgposi" ><a href="index.php?downloads-show-{id}" class="btn btn-info"><i class="icon-search"></i> mehr Infos</a></div>
            </td>
        </tr>
    </table>
</td>
{footer4}
{EXPLODE}
</table>
<div class="hdbgcopy">Copyright &copy; 2014 Downloadansicht by <a  href="http://www.howald-design.ch" class="hdbglink" target="_blank">H0walD-Design</a></div>
<link rel="stylesheet" type="text/css" href="/include/includes/css/downloads/downloads.css">
{EXPLODE}


