<link rel="stylesheet" type="text/css" href="include/includes/css/downloads/downloads.css">
<link rel="stylesheet" type="text/css" href="include/includes/css/downloads/font-awesome.css">
<script type="text/javascript" src="include/includes/css/downloads/screen.js"></script>
<center> <a name="download-{id}"></a>
    <table width="90%" cellspacing="1" cellpadding="0" align="center" class="border">
        <tr>
            <td colspan="3" class="hdbgdark" >{name}</td>
        </tr>
        <tr>
            <td width="50%" valign="top" class="hdbgmite">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="20%" class="hdbgdarkmite"><b>{_lang_name}:</b></td>
                        <td width="80%" class="hdbgdarkmite">{name}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="hdbgdarkmite"><b>Von:</b></td>
                        <td width="80%" class="hdbgdarkmite">{creater}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="hdbgdarkmite"><b>{_lang_date}:</b></td>
                        <td width="80%" class="hdbgdarkmite">{datum}</td>
                    </tr>
                    <tr>
                        <td width="50%" colspan="2" style="text-align:left" class="hdbgdarkmite"><b>Download-Recht ab:</b></td>
                    </tr>
                </table>
            </td>
            <td width="50%" valign="top" class="hdbgmite">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td width="50%" class="hdbgdarkmite"><b>{_lang_size}:</b></td>
                        <td width="50%" class="hdbgdarkmite">{size}</td>
                    </tr>
                    <tr>
                        <td width="50%" class="hdbgdarkmite"><b>{_lang_downloads}:</b></td>
                        <td width="50%" class="hdbgdarkmite">{downs}</td>
                    </tr>
                    <tr>
                        <td width="50%" class="hdbgdarkmite"><b>{_lang_seenfrom}:</b></td>
                        <td width="50%" class="hdbgdarkmite">{hits}</td>
                    </tr>
                    <tr>
                        <td width="50%" colspan="2" style="text-align:left" class="hdbgdarkmite">{download_recht}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%" valign="middle" class="hdbgmite" colspan="3">
                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="border">
                    <tr>
                        <td width="33%" align="center" style="text-align:center;" class="hdbgdarkmite">{downlink}</td>
                        <td width="33%" align="center" style="text-align:center;" class="hdbgdarkmite">{surl}</td>
                        <td width="33%" align="center" style="text-align:center;" class="hdbgdarkmite">{demo}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
<br /><br />
<div style="width:100%;">
    <fieldset>
        <legend><b>{_lang_desc}</b></legend>
        <div>
            <div style="padding-right:10px;">{ssurl}</div>
                {descl}
        </div>
<br /><br /><br /><br />
    </fieldset>
</div>


